.navbar {
  display: flex;
  justify-content: space-between;
  background-color: navy;
  color: white;
  padding: 15px;
}

.logo {
  font-size: 22px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}